
body{
    margin:0;
}

#container{
       
        font-family:'Trebuchet MS', Trebuchet,"Liberation Sans", sans-serif; 
        background-color: #E3E4E0;  
    
}


.header  {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    background: #7f867b;
    padding:20px;
    margin: 0;
    border-top: 0;
    color: white;
    


}


.header nav a {
        text-decoration: none;
        padding-top: 10px;
        margin-right: 20px;
        padding:40px;
        font-size: 20px;
        color: white;
        text-align:center; 
    
} 

ul{
    margin:0;
}

.card {
      border-right: rgb(247, 248, 245) 7px solid;
      min-width: 150px;
      min-height: 200px;
      text-align: right;
      float: left;
      padding-right: 15px;
      }

.content {
    width: 90%;
    /* padding: 7%; */
    border:red 2px solid; 
    margin: 30px; 
}

      
/*.banner img{
    height: 300px;
    width: auto;
}*/

.header nav li {
        display: inline-block;
        margin-left: 25px;
        list-style-type: none;
        color:white; 
 }; 


 
/* .main {
    display: flex;
    border: 5px;
    display:inline-block;
    margin-right: 20px;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}; */


/* .main .text{
    display:inline-block;

};  */


section {
    /* border: rgb(37, 111, 172) 2px solid; */
    width: 95%;
    height: auto;
    margin: auto;
    padding: 10px;
    display: flex;
  }
/* @media screen and (max-width: 992px) {
    #container {
        flex: 1;  
      }  }

@media screen and (max-width: 768px) {
    #container {
    flex: 2;  
  }

}

@media screen and (max-width: 576px) {
    #container {
    flex: 3;  
  }

} */