
body{
    margin:0;
}

#container{
        background-color: #E3E4E0;  
    
}


.header  {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    background: #7f867b;
    padding:20px;
    margin: 0;
    border-top: 0;
    color: white;
    font-size: medium;

}

.header h1{
    
font-size: 25px;


}
.header nav a {
        text-decoration: none;
        padding-top: 10px;
        margin-right: 20px;
        padding:40px;
        font-size: 20px;
        color: white;
        text-align:center; 
    
} 


ul{
    margin:0;
}


.card {
      border-right: rgb(247, 248, 245) 7px solid;
      min-width: 150px;
      min-height: 200px;
      text-align: right;
      float: left;
      padding-right: 15px;
}

.content {
    width: 90%;
    /* padding: 7%; */
    border: #7f867b 2px solid; 
    margin: 30px; 
}


.text {
 color: #7f867b;
 font-size: 20px;
 /* position:left;
 top: 10%;
 left:10%;
 transform:translate(-50%, 50%); 
 text-shadow: 0 0 10px white; */


 #smallerBoxes{


 }
}
.project a {
    display: flex;
    height: 125px;
    width: 150px;
}
.project a img{
    height: 100px;
    width: 150x; 
}

.project b {
    display: flex;
    height: 50px;
    width: 50px;
}

.project b img {
    height: 33%;
    width: 33%;
}
      

.header nav li {
        display: inline-block;
        margin-left: 25px;
        list-style-type: none;
        color:white; 
 }; 



section {
    /* border: rgb(37, 111, 172) 2px solid; */
    width: 95%;
    height: auto;
    margin: auto;
    padding: 10px;
    display: flex;
  }
/* @media screen and (max-width: 992px) {
    #container {
        flex: 1;  
      }  }

@media screen and (max-width: 768px) {
    #container {
    flex: 2;  
  }

}

@media screen and (max-width: 576px) {
    #container {
    flex: 3;  
  }

} */